

@media (max-width: 500px) {
    body{
        text-align: center;
    }

    .event-list-btn{
        position: fixed;
        bottom:0;
        right: 0;
        width: 100%;
        border-radius: 0px;
        font-size: 17px;
    }

    h2{
        padding-bottom: 15px;
        padding-top: 25px;
    }

    .event-button-link {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 501px) {

    body{
        text-align: center;
    }

    .event-list-btn{
        position: fixed;
        bottom:0;
        right: 0;
        width: 100%;
        border-radius: 0px;
    }

    h2{
        padding-bottom: 15px;
        padding-top: 25px;
        padding-left: 15px;
    }
    
    .event-button-link {
        display: flex;
        justify-content: flex-end;
        margin-right: 20%;
    }
}

.event-card:first-child {
    background-color: #f0f0f0;
    padding-top: 2%;
  }

.event-header {
    background-color: #f0f0f0;
    margin: 0%;
    color: #428bca;
    padding-top: 2%;
  }

 

  .event-card {
      padding-top: 5%;
  }