@media (max-width: 500px) {
    .tasks {
        text-align: center;
    }

    .addTask{
        position: fixed;
        bottom:0;
        right: 0;
        width: 100%;
        border-radius: 0px;
        font-size: 17px;
    }

    .tasks h2{
        padding-bottom: 15px;
        padding-top: 25px;
    }

    .box{
        padding-left:21px;
        padding-bottom:25px;
    }

    .form-check-input{
        width:20px;
        height: 20px;
        z-index: -1;
    }
}

@media (min-width: 501px) {

    .addTask{
        position: fixed;
        bottom:0;
        right: 0;
        width: 100%;
        border-radius: 0px;
    }

    .tasks h2{
        padding-bottom: 15px;
        padding-top: 25px;
        padding-left: 15px;
    }

    .box{
        padding-left:40px;
        padding-bottom:25px;
    }

    .form-check-input{
        width:20px;
        height: 20px;
        z-index: -1;
    }
}

