@media (max-width: 500px) {
    .login, .register {
        text-align: center;
    }

    .login input, .register input {
        border: 1px solid #D5D5D5;
        padding: 5px;
        border-radius: 6px;
        text-align: center;
        width: 60%;
    }

    .login h2{
        padding-top:100px;
    }

    .register h2{
        padding-top:45px;
    }

    .signIn{
        margin-top:20px;
    }

    .signUp{
        padding-top:20px;
    }

    .backButton{
        margin-top:20px;
        margin-right:300px;
    }
}

@media (min-width: 500px) {
    .login, .register {
        text-align: center;
    }

    .login input, .register input {
        border: 1px solid #D5D5D5;
        padding: 5px;
        border-radius: 6px;
        text-align: center;
        width: 20%;
        margin-left: 20px;
    }

    .login h2, .register h2 {
        padding-top:70px;
        margin-left: 10px;
    }

    .signIn{
        margin-top:20px;
        margin-left: 20px;
    }

    .signUp{
        padding-top:20px;
        margin-left: 20px;
    }

    .signUpLink{
        text-align: center;
    }

    .backButton{
        display: none;
    }
}